*{
    padding: 0;
    margin: 0;
}

.header {
  background-color: #6be06f; /* verde bonito */
  color: white;              /* texto en blanco */
  padding: 20px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra ligera */
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}
